{% extends 'snippets/package_item.html' %} 

{# Do not display package description here -#}
{% block package_item_notes %}{% endblock %}

{# Display a list of ingestion-aware resources #}
{% block package_item_resources %}
  <div class="tags-list">
      {% for resource in package.resources %}
        {#{% set task_result = h.resource_ingestion_result(resource.id) %} 
        {% snippet 'user/snippets/resource_item.html', pkg=package, res=resource, parent=parent %}#}
          <a class="tag-box"
            href="{{ h.url_for(controller='package', action='resource_read', id=package.name, resource_id=resource.id) }}"
            data-format="{{ resource.format }}"
           >{{ resource.format|upper }}</a>
          <a class="tag-box tag-box-other" data-toggle="tooltip" data-placement="bottom" 
           title="Data available with an open license" >{{ _('PUBLIC') }}  </a>
      
          <a class="tag-box tag-box-other"  data-toggle="tooltip" data-placement="bottom" 
           title="Data available by a public authority with an open license">{{ _('OPEN') }} </a>
      {% endfor %} {# resource #}
  </div> 
{% endblock %}
