{% ckan_extends %}

{% block scripts %}

{{ super() }}

{% resource 'vendor/jquery.ui.core.js' %}
{% resource 'vendor/jquery.ui.widget.js' %}

{% resource 'ckanext-helix/scripts' %}

{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = pkg.title_optional or pkg.title %}
    {% if pkg.organization %}
      {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      <li><a class="breadcrumbs-part"{% link_for _('Publishers'), controller='organization', action='index' %}</a></li>
        <li><a class="breadcrumbs-part"{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</a></li>
    {% else %}
    <li><a class="breadcrumbs-part"{% link_for _('Datasets'), controller='package', action='search' %}</a></li>
    {% endif %}
    <li><a class="breadcrumbs-part"{{ self.breadcrumb_content_selected() }}{% link_for dataset|truncate(25), controller='package', action='read', id=pkg.name %}</a></li>
  {% else %}
  <li><a class="breadcrumbs-part"{% link_for _('Datasets'), controller='package', action='search' %}</a></li>
    <li><a class="breadcrumbs-part" {% link_for _('Create Dataset'), controller='package', action='new' %}</a></li>
  {% endif %}
{% endblock %}

{% block breadcrumb_content_selected %} {% endblock %}
