{% ckan_extends %}



{# Note: The parent template has aliased c.pkg_dict as pkg #}

{% block package_description %}

<h1>
  {% block page_heading %}
  {{ h.dataset_display_name(pkg) }}
  {% if pkg.state.startswith('draft') %}
  [{{ _('Draft') }}]
  {% endif %}
  {% if pkg.state == 'deleted' %}
  [{{ _('Deleted') }}]
  {% endif %}
  {% endblock %}
</h1>

{% endblock %}





{% block content_primary_nav %}
<div id="modal-favorite">
  <p id='favorite-text'> </p>
  <a id="modal_close">x</a>
</div>


{# {{ h.favorite(email=c.userobj.email, package_name=pkg.name, title=pkg.title, notes=pkg.notes) }}#}
<div class="page__content__default">

  {% if pkg.get('state', '').startswith('draft') %}
  <span class="draft-state">{{ _('Draft') }}</span>
  {% elif pkg.get('state', '').startswith('deleted') %}
  <span class="label package-state label-danger state-deleted">{{ _('Deleted') }}</span>
  {% elif pkg.get('state', '').startswith('invalid') %}
  <span class="label package-state label-danger state-invalid">{{ _('Invalid') }}</span>
  {% endif %} {# state #}
  <section class="no-padding">

    {% if pkg.private %}
    <span class="package-private btn--simple">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
    {% endif %}
    <h1 class="package-title">
      {{ pkg.title_optional or pkg.title }}
    </h1>
    {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn btn-manage pull-right', icon='wrench' %}
    {% endif %}
  </section>
  {% block page_heading_info %}
  {% if h.is_multilingual_dataset and pkg.language and pkg.translated_to_language %}
  {% snippet "package/snippets/multilingual_info.html", pkg=pkg %}
  {% endif %}
  {% endblock %} {# page_heading_info #}
  <div>
    {#<div class="btn-favorite">
      <a href="" id="favorite" data-module="favorite" data-module-action="favorite" data-module-name="{{pkg.name}}"
        data-module-email="{{c.userobj.email}}" data-module-title="{{pkg.title}}" data-module-notes="{{pkg.notes}}"
        data-toggle="tooltip" data-placement="bottom" title="Favorite"> <img class=""
          src="/images/png/favorite.png"></a>
    </div>
    <div class="btn-save">
      <a href="#" data-toggle="tooltip" data-placement="bottom" title="Save"><img class=""
          src="/images/png/save.png"></a>
    </div> 
    {% if pkg.datacite%}
    <div class="package-language">
      <a href="#"> {{pkg.datacite.languagecode|truncate(2,True, '')|upper}}</a>
    </div> 
    {% endif%} #}
  </div>
  {% block package_dates %}
  <section class="page__content__default__details">
    <p> {{_('Publication:')}} {{ h.render_datetime(pkg.metadata_created, date_format='%d-%m-%Y') }}
    </p>

    <p> {{_('Last revision:') }} {{ h.render_datetime(pkg.metadata_modified, date_format='%d-%m-%Y')}}</p>


  </section>
  {% endblock %}

  {% block package_notes %}
  {% if pkg.notes_optional %}
  <section>
    <h2>{{_('Description')}}</h2>
    <p>{{ h.render_markdown(h.get_translated(pkg, 'notes_optional')) }}</p>
  </section>
  {% endif %}
  {% endblock %}

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}



  {# This is a replacement for "package/snippets/additional_info.html" -#}
  {% snippet "package/snippets/package_metadata_table.html", pkg_dict=pkg %}

</div>


{#<div class="nav-menu">
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Topics'), id=pkg.name, icon='hashtag') }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {#{{ h.build_nav_icon('dataset_apis', _('Developers'), id=pkg.name, icon='code') }}

</div>#}
{% endblock %}


{% block package_additional_info %}
{% endblock %}



{% block secondary_content %}
{{ super() }}

{% if pkg.spatial %}
{% snippet "spatial/snippets/package_map_sidebar.html", extent=pkg.spatial %}
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% resource 'ckanext-helix/download_options' %}
{% resource 'ckanext-helix/lean'%}
{% endblock %}


{% block primary_content_inner %}
{{ super() }}
{% block package_resources %}{% endblock %}
{% endblock %}