{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set action = form_action or h.url_for(controller='package', action='extra_metadata', id=pkg_name) %}

<form id="metadata-form" class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ action }}" 
    data-module="basic-form resource-form{% if include_metadata %} resource-metadata{% endif %}" enctype="multipart/form-data"
  >
    {% block stages %}
    {# An empty stages variable will not show the stages #}
    {% if stage %}
    {{ h.snippet('package/snippets/stages.html', stages=stage, pkg_name=pkg_name) }}
    {% endif %}
    {% endblock %}

    {{ form.errors(error_summary) }}

    <input name="id" value="{{ data.id }}" type="hidden"/>

    {% block package_basic_fields_autofill %}
    {% if h.debug() %}{% snippet 'package/snippets/form-autofiller.html', form_id='resource-form' %}{% endif %}
    {% endblock %}


  
