{% ckan_extends %}

{% block secondary_content %}
{% snippet 'snippets/organization.html', organization=organization %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-lg fa-info-circle"></i>
    {{ _('What are roles?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p><strong>Admin:</strong> Can add/edit and delete datasets, as well as
        manage organization.</p>
      <p><strong>Editor:</strong> Can add and edit datasets, as well as manage the
        organization members.</p>
      <p><strong>Member:</strong> Can add new datasets (private), and edit/delete his own</p>
    {% endtrans %}
  </div>
{% endblock %}
