{% ckan_extends %}

{% block breadcrumb_content %}
  <a class="breadcrumbs-part" {% link_for _('Organization'), controller='organization', action='index', named_route=group_type + '_index' %}</a>
  <a class="breadcrumbs-part" {% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name, named_route=group_type + '_read' %}</a>
{% endblock %}


{% block page_primary_action %}

{% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
  {% snippet 'snippets/add_dataset_button.html', group=c.group_dict.id %}
{% endif %}
{% endblock %}

{% block content_action %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    {% link_for _('Manage'), controller='organization', action='edit', id=c.group_dict.name, class_='btn btn-default btn-manage', icon='wrench', named_route=group_type + '_edit'  %}
  {% endif %}
{% endblock %}


{% block organization_facets %}
  {#{% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }} #}
    {{ h.snippet('snippets/facet_list.html', title=title, name=facet, extras={'id':c.group_dict.id}) }}
   
  {#{% endfor %} #}
{% endblock %}
