{% ckan_extends %}

{% block breadcrumb_content %}
  <a class="breadcrumbs-part" {% link_for _('PUBLISHERS'), controller='organization', action='index', named_route=group_type + '_index' %}</a>
  <a class="breadcrumbs-part" {% link_for c.group_dict.display_name|truncate(35), controller='ckanext.publicamundi.plugins:ExtrametadataController', action='read', id=c.group_dict.name, named_route=group_type + '_read' %}</a>
{% endblock %}


{% block page_primary_action %}

{% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
  {% snippet 'snippets/add_dataset_button.html', group=c.group_dict.id %}
{% endif %}
{% endblock %}

{% block content_action %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    {% link_for _('Manage'), controller='ckanext.publicamundi.plugins:ExtrametadataController', action='edit', id=c.group_dict.name, class_='btn btn-default btn-manage pull-right', icon='wrench', named_route=group_type + '_edit'  %}
  {% endif %}
{% endblock %}


{% block organization_facets %}
  {#{% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }} #}
    {{ h.snippet('snippets/facet_list.html', title=title, name=facet, hide_publishers=false, extras={'id':c.group_dict.id}) }}
   
  {#{% endfor %} #}
{% endblock %}


{% block content_primary_nav %}
{% set action='read'%}
<div class="nav-menu">
  {{ h.build_nav_icon(group_type + '_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon(group_type + '_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon(group_type + '_about', _('About'), id=c.group_dict.name) }}
</div>
{% endblock %}

{% block page_pagination %}
    <div class="main-results-border-bottom"> </div>
    
    
    <div class="breadcrumbs-pagination bottom">
      <div class=breadcrumbs>
      {{ self.breadcrumb_content() }}
      </div>
      {{ c.page.pager(q=c.q) }}
    </div>    
     
{% endblock %}