{% ckan_extends %}

{% block breadcrumb_content %}
  <a class="breadcrumbs-part"{% link_for _('Publishers'), controller='organization', action='index', named_route=group_type + '_index' %}</a>
    <a class="breadcrumbs-part"{% link_for c.group_dict.display_name|truncate(35), controller='ckanext.publicamundi.plugins:ExtrametadataController', action='read', id=c.group_dict.name, named_route=group_type + '_read' %}</a>
{% endblock %}

{% block content_primary_nav %}
<div class="nav-menu">
  {{ h.build_nav_icon(group_type + '_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon(group_type + '_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon(group_type + '_about', _('About'), id=c.group_dict.name) }}
</div>
{% endblock %}


{% block content_action %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    {# temp workaround for editor accessing bulk process #}
    {% if h.check_access('group_update', {'id': c.group_dict.id}) %}
        {% link_for _('Manage'), controller='ckanext.publicamundi.plugins:ExtrametadataController', action='edit', id=c.group_dict.name, class_='btn btn-manage pull-right', icon='wrench', named_route=group_type + '_edit'  %}
    {% else %}
         {% link_for _('Manage'), controller='organization', action='bulk_process', id=c.group_dict.name, class_='btn btn-manage pull-right', icon='wrench', named_route=group_type + '_bulk_process'  %}
    {% endif %}
  {% endif %}
{% endblock %}
