{% import 'macros/markup_helpers.html' as markup_helpers -%}

{%- set placeholder = placeholder or field.default -%}
{%- if input_classes is not defined %}{% set input_classes = ['input-large'] %}{% endif -%}

<div class="form-group{{ " error" if errors }}{{ " " ~ classes|join(' ') }}">
    <label class="control-label {%if required==false %} field-optional{% endif %}" for="{{ 'input-' ~ qname }}">
        {{ markup_helpers.mark_required(required) }} {{- title }}</label>
    <div class="controls">
        <input type="{{ input_type|default('text') }}" id="{{ 'input-' ~ qname }}"  name="{{ qname }}"
            class="form-control {{ input_classes|join(" ") }}"
            value="{{ value|empty_and_escape }}" 
            {% if placeholder%} placeholder="{{ placeholder|empty_and_escape }}"
            {% else %}
                placeholder="{{ description|empty_and_escape }}"  
            {%endif %}
            {{ attrs|xmlattr -}}
        />
        {% if errors -%}
        <span class="help-inline">{{ errors|join(', ') }}</span>
        {%- endif -%}
    </div>
</div>
