{% from 'macros/markup_helpers.html' import mark_required %}


<div class="form-group">
    <label for="input-{{ name }}" class="control-label">
        {{- title or _('Publisher') }}{{ mark_required(required) }}</label>
    <div class="controls">
        <select id="input-{{ name }}" name="{{ name }}" class="input-xlarge"
            data-module="autocomplete"
         >
            {% if not required -%}
            <option value="" {% if not value %} selected="selected" {% endif %}>
                {{- _('Select an organization...') }}</option>
            {%- endif %}
                {% if not orgs_available %}
                    <option value="{{ h.organization_objects(['helix']).helix.id }}"  selected="selected" >
                       {{- h.organization_objects(['helix']).helix.display_name }}</option>
                {% else %}
                {%- for org_name, org in h.organization_objects(orgs_available).iteritems() %}
                    <option value="{{ org.id }}" {% if value == org.id %} selected="selected" {% endif %}>
                       {{- org.display_name }}</option>
                {% endfor -%}
                {% endif %}
        </select>
        {% if verbose|default(true) and description %}
        
    </div>
    <p class="help-block">{{ description }}</p>
        {% endif %}
</div>

    
