{% from 'macros/markup_helpers.html' import mark_required %}

{%set available_orgs_names = h.available_orgs_names() %}
{% set top_nodes = h.group_tree(type_='organization') %} 
<div class="form-group">
    <label for="input-{{ name }}" class="control-label">
        {{- title or _('Publisher') }}{{ mark_required(required) }}</label>
    <div class="controls">
        <select id="input-{{ name }}" name="{{ name }}" class="input-xlarge"
            data-module="autocomplete"
         >
            {% if not required -%}
            <option value="" {% if not value %} selected="selected" {% endif %}>
                {{- _('Select an organization...') }}</option>
            {%- endif %}
                {% if not orgs_available %}
                    <option value="{{ h.organization_objects(['helix']).helix.id }}"  selected="selected" >
                       {{- h.organization_objects(['helix']).helix.display_name }}</option>
                {% else %}
                {#{%- for org_name, org in h.organization_objects(orgs_available).iteritems() %} #}
                  {% set top_nodes = h.group_tree(type_='organization') %} 
                  {% for node in top_nodes recursive %}
                    {% if node.name in available_orgs_names%}
                        {% set depth = h.group_depth(node.name)%}
                        {% if field == 'creator'%}
                            <option value="{{ node.title }}" {% if value == node.title %} selected="selected" {% endif %}>
                          {% for i in range(depth) %}&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %} {{- node.title }}</option>
                        {% else %}
                            <option value="{{ node.id }}" {% if value == node.id %} selected="selected" {% endif %}>
                            {% for i in range(depth) %}&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %} {{- node.title }}</option>
                        {% endif%}
                    {% endif%}
                    {% if node.children %}
                        {{ loop(node.children) }}
                    {% endif %}
                {% endfor -%}
                {% endif %}
        </select>
        {% if verbose|default(true) and description %}
        <p class="help-block">{{ description }}</p>
        {% endif %}
    </div>
    
</div>

    
